Repository jspsych/jsPsych, pull requests merged in 2020-11, with the labels that each got.

#1162 Fix FF video issue with non-zero start time - fixes #712
  examples/jspsych-video-button-response.html
  examples/jspsych-video-keyboard-response.html
  plugins/jspsych-video-button-response.js
  plugins/jspsych-video-keyboard-response.js
  plugins/jspsych-video-slider-response.js
Labels: bug

#1145 Add response_allowed_while_playing parameter to audio/video plugins - fixes #1137
  docs/plugins/jspsych-audio-button-response.md
  docs/plugins/jspsych-audio-keyboard-response.md
  docs/plugins/jspsych-audio-slider-response.md
  docs/plugins/jspsych-video-button-response.md
  docs/plugins/jspsych-video-keyboard-response.md
  docs/plugins/jspsych-video-slider-response.md
  examples/jspsych-audio-button-response.html
  examples/jspsych-audio-keyboard-response.html
  examples/jspsych-audio-slider-response.html
  examples/jspsych-video-button-response.html
  examples/jspsych-video-keyboard-response.html
  examples/jspsych-video-slider-response.html
  plugins/jspsych-audio-button-response.js
  plugins/jspsych-audio-keyboard-response.js
  plugins/jspsych-audio-slider-response.js
  plugins/jspsych-video-button-response.js
  plugins/jspsych-video-keyboard-response.js
  plugins/jspsych-video-slider-response.js
Labels: plugin-modification

#700 Canvas integration plugins
  docs/plugins/jspsych-canvas-button-response.md
  docs/plugins/jspsych-canvas-keyboard-response.md
  docs/plugins/jspsych-canvas-slider-response.md
  plugins/jspsych-canvas-button-response.js
  plugins/jspsych-canvas-keyboard-response.js
  plugins/jspsych-canvas-slider-response.js
Labels: new-plugin

#1018 updates to free-sort plugin, new functionality
  contributors.md
  docs/plugins/jspsych-free-sort.md
  examples/jspsych-free-sort.html
  plugins/jspsych-free-sort.js
Labels: new-plugin

#1136 Maxdiff Plugin
  docs/plugins/jspsych-maxdiff.md
  examples/jspsych-maxdiff.html
  plugins/jspsych-maxdiff.js
  tests/plugins/plugin-maxdiff.test.js
Labels: new-plugin

#1193 fix slider label positioning with custom CSS - fixes #695
  css/jspsych.css
  plugins/jspsych-audio-slider-response.js
  plugins/jspsych-html-slider-response.js
  plugins/jspsych-image-slider-response.js
  plugins/jspsych-video-slider-response.js
Labels: bug

#1203 Updates to free-sort plugin
  contributors.md
  docs/plugins/jspsych-free-sort.md
  examples/jspsych-free-sort.html
  plugins/jspsych-free-sort.js
  tests/plugins/plugin-free-sort.test.js
Labels: plugin-modification

#1174 add render_on_canvas option, fix maintain_aspect_ratio - #891 #969 #1172
  docs/plugins/jspsych-animation.md
  docs/plugins/jspsych-categorize-animation.md
  docs/plugins/jspsych-image-button-response.md
  docs/plugins/jspsych-image-keyboard-response.md
  docs/plugins/jspsych-image-slider-response.md
  examples/jspsych-animation.html
  examples/jspsych-categorize-animation.html
  examples/jspsych-image-button-response.html
  examples/jspsych-image-keyboard-response.html
  examples/jspsych-image-slider-response.html
  plugins/jspsych-animation.js
  plugins/jspsych-categorize-animation.js
  plugins/jspsych-image-button-response.js
  plugins/jspsych-image-keyboard-response.js
  plugins/jspsych-image-slider-response.js
  tests/plugins/plugin-animation.test.js
  tests/plugins/plugin-categorize-animation.test.js
  tests/plugins/plugin-image-button-response.test.js
  tests/plugins/plugin-image-keyboard-response.test.js
  tests/plugins/plugin-image-slider-response.test.js
Labels: bug, plugin-modification

#1233 Add docs-6.2 branch to master
  docs/overview/browser-device-support.md
  docs/overview/collecting-data.md
  docs/plugins/jspsych-instructions.md
  docs/plugins/jspsych-survey-html-form.md
  docs/plugins/jspsych-survey-likert.md
  docs/plugins/jspsych-survey-multi-choice.md
  docs/plugins/jspsych-survey-multi-select.md
  docs/plugins/jspsych-survey-text.md
Labels: documentation
